.game-menu {
    background-color: rgba(16, 16, 16, 0.1);
}

.game-link {
    display: none;
}

.login-form {
    margin-top: 200px;
}

.login-header {
    background: -moz-linear-gradient(45deg, rgba(255,173,92,1) 0%, rgba(255,173,92,1) 1%, rgba(212,96,214,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,173,92,1)), color-stop(1%, rgba(255,173,92,1)), color-stop(100%, rgba(212,96,214,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,173,92,1) 0%, rgba(255,173,92,1) 1%, rgba(212,96,214,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,173,92,1) 0%, rgba(255,173,92,1) 1%, rgba(212,96,214,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(255,173,92,1) 0%, rgba(255,173,92,1) 1%, rgba(212,96,214,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(255,173,92,1) 0%, rgba(255,173,92,1) 1%, rgba(212,96,214,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D460D6', endColorstr='#FFAD5C',GradientType=1 ); /* ie6-9 */
    height: 100vh;
    padding: 50px;
}

@media only screen and (max-width: 991px) {
    .game-list {
        display: none;
    }

    .game-link {
        display: block;
    }
}
.portfolio {
    font-family: Changa, Arial, sans-serif!important;
}

.download-count {
    height: 30px;
    width: 30px;
    padding: 3px;
    position: relative;
    top: 40px;
    right: -15px;
    background-color: #fed136;
    color: #212529;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 1000;
    -webkit-box-shadow: 1px 1px 1px 0px rgba(33,37,41,1);
    -moz-box-shadow: 1px 1px 1px 0px rgba(33,37,41,1);
    box-shadow: 1px 1px 1px 0px rgba(33,37,41,1);
    opacity: 0.8;
}

.timeline-image {
    background-color: #212529 !important;
}

.logo {
    margin-top: 30px;
    z-index: 10;
}

.category1 {
    background-image: url("../img/slider/category1.jpg");
}

.category2 {
    background-image: url("../img/slider/category2.jpg");
}

.category3 {
    background-image: url("../img/slider/category3.jpg");
}

.category4 {
    background-image: url("../img/slider/category4.jpg");
}

.category5 {
    background-image: url("../img/slider/category5.jpg");
}

.header-title {
    text-shadow: 2px 2px 2px rgba(22, 22, 22, 1);
}

.highlight {
    color: #7741c1;
}











